[2015-01-11 13:06] braver opened #2 "Improve!"
A list of future ambitions in random order:

- [x] improve text contrast on active tabs (and active tree-view item) for light themes
- [x] refactor config.less and the way config-variations are handled in stylesheets
- [x] reconsider 'attaching' active tree-view item to editor
- [x] test and remove 'experimental' labels for background variations (e.g. does enabling/disabling panels break anything?

[2015-01-11 14:31] celsomiranda opened #3 "Tree view always shows scrollbar"
The tree view appears to always be about 20px longer than it should, always showing a scroll bar as a result.

Included pic for reference:
![isotope-ui](https://cloud.githubusercontent.com/assets/769237/5695478/65c7e830-999e-11e4-94f4-54cd09662d84.JPG)

Using Atom 0.169.0 on Windows 8 x64.

[2015-01-11 16:10] #3 closed

[2015-01-11 20:05] braver commented on #3
@celsomiranda I just pushed 1.0.4 that fixes this. Thanks for reporting!

[2015-01-11 21:34] celsomiranda commented on #3
Thank you @braver, for the quick response and bugfix.

[2015-01-12 19:19] plttn opened #4 "gitignored folders/files not being grayed out in tree-view"
Pretty simple bug, although I'm not sure what the selector is exactly. Atom Dark/Light both properly lighten them, as do neutron and proton.

[2015-01-12 20:13] braver commented on #4
Thanks for reporting this. I fixed this and am putting together an update to the theme.

[2015-01-12 20:13] #4 closed

[2015-01-14 09:31] braver opened #5 "spinners are too large"
seen in project-search, spinner is misaligned because it's too large. check sizes against default themes

[2015-01-14 14:30] despairblue opened #6 "`Snippets: Available` does not render correctly"
There should probably be a space between the snippet starter and the snippet name.

By the way: Amazing work you did with this theme!

![ss](https://cloud.githubusercontent.com/assets/927609/5740259/fed62ca2-9c01-11e4-8ebd-2b96f1c49519.png)

## Versions

* **Atom:**       0.172.0
* **Atom-Shell:** 0.20.5
* **OS:**         linux 3.14.26-1-lts
* **Misc**
    * apm  0.119.0
    * npm  1.4.4
    * nod

[2015-01-14 16:09] braver commented on #6
Thanks for reporting this, and for the compliment. I will look into it later today.

[2015-01-14 18:52] #6 closed

[2015-01-14 19:16] #5 closed

[2015-01-15 00:05] plttn opened #7 "Autocomplete background not expanding"
![Screenshot or GIF movie](https://lh6.googleusercontent.com/-IAVHxOW86JE/VLcDyn1c_pI/AAAAAAAAQIA/5ivcFjt15h8/s0/2015-01-14_16-03-26.png)

Autocomplete Plus background box is not expanding to the text given. Might be an issue with that package handling different lineheights though.

## Versions

* **Atom:**       0.172.0
* **Atom-Shell:** 0.20.5
* **OS:**         Microsoft Windows 8.1 Pro
* **Misc

[2015-01-15 08:38] braver commented on #7
@plttn thanks for reporting. I'm taking this up with autocomplete-plus, I think their layout is causing this issue and is best resolved on their end. I will patch it in isotope if that doesn't work or takes too long, but we'll see.

[2015-01-16 13:18] braver opened #8 "project search progress alignment"
text after spinner is misaligned
![screen shot 2015-01-16 at 11 46 34](https://cloud.githubusercontent.com/assets/2543659/5776618/873a6b06-9d8a-11e4-8683-64d8324cc0ab.png)

[2015-01-16 16:14] #8 closed

[2015-01-17 19:22] braver commented on #7
@plttn I don't know what did it (many changes all over the place including core) but I can't reproduce this anymore. Can you verify?

[2015-01-17 19:37] plttn commented on #7
Still reproing for me.

Weird.

[2015-01-17 19:48] #7 closed

[2015-01-17 19:51] braver commented on #7
Alright, I got it. Patch will come to the theme later this weekend. Thanks!

[2015-01-18 12:03] olmokramer opened #9 "Settings are gone"
Hey I just updated your theme to `v1.1.3` from the settings view, and now there are no more settings to adjust. Restarting Atom didn't work. I then tried to uninstall the package, and install it again from the settings view, but still no luck. It didn't seem to matter whether your package was activated or not.

I'm on Atom `v0.174.0` on Linux Debian 8.

[2015-01-18 12:05] braver commented on #9
You mean there are no settings for Isotope?
What happens when you reload atom (View > Reload)?
I'm looking into it anyway.

[2015-01-18 12:15] olmokramer commented on #9
Yeah that's what i meant.

I found them again though. I have to set the theme as active theme, then restart Atom. <i>Then</i> there are settings to adjust. I didn't do both things before...

[2015-01-18 13:25] braver commented on #9
Ok, I can reproduce this. I think Atom is not running the theme's coffee unless the theme is activated (which makes sense), so it doesn't read the config definition (which is inconvenient).

[2015-01-18 13:32] olmokramer commented on #9
Too bad... Nothing you can do I guess. Probably some startup speed improvements over at Atom. I could've sworn it didn't behave this way back when I tried the first release of isotope-ui on an older version of Atom...

[2015-01-18 13:34] braver commented on #9
Feels to me to be new. I've tried graphite-ui which has a setting as well, and it behaves the same. I would also have sworn that previously I've been able to access those settings before.

Anyway, thanks for reporting. I will take it up with the core team to figure out if this is a regression or if anything can be done.

[2015-01-18 13:36] olmokramer commented on #9
Good to know that my memory is not failing me :smile:

[2015-01-20 19:40] WSoS opened #10 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-01-22 09:27] malexandre opened #11 "Theme color selection"
It would be nice to be able to select the theme color. I'm not sure but I think right now it's calculated regarding the hue & other things from the current syntax background color. But one thing that's awesome with Atom is that you can overwrite that. And if I overwrite it in my `styles.less`, it's not managed by Isotope.

For example, this is the result with my background image (almost totally bl

[2015-01-22 09:49] braver commented on #11
Yes, definitely want this. There was [this](https://discuss.atom.io/t/use-coffee-to-config-less-in-a-package/14269) discussion recently, but as concluded there, there is currently no elegant way to influence the variables that are used in LESS.

So there's two todo's here:
- [ ] I'm working on creating better defaults, making sure contrast is good for all themes. This involves building in some con

[2015-01-22 09:50] braver commented on #10
Recent patch makes isotope fully compliant with deprecation-cop except where it improves third part packages that aren't compliant yet (e.g. zen).

[2015-01-22 09:50] #10 closed

[2015-01-22 09:54] braver commented on #9
I'm closing this: I recently refactored the way coffee is being run in isotope and it's doing everything the API allows. That's all I can do right now... You can watch https://github.com/atom/settings-view/issues/347 to see when core improvements come through to improve settings for themes.

[2015-01-22 09:54] #9 closed

[2015-01-27 13:41] mnquintana opened #12 "Placeholder text in Settings uses Helvetica Neue instead of chosen Font Family"
Just noticed that the placeholder text in Settings seems to be using Helvetica Neue instead of whatever Font Family is set to:

![screenshot 2015-01-27 08 41 09](https://cloud.githubusercontent.com/assets/823545/5919266/47635d84-a600-11e4-8254-541863234472.png)

[2015-01-27 13:50] braver commented on #12
Thanks for spotting this! It's an easy fix, will probably publish a patch later today.

[2015-01-27 13:51] mnquintana opened #13 "section-headings always use heavy font weight"
![screenshot 2015-01-27 08 48 17](https://cloud.githubusercontent.com/assets/823545/5919416/748f7882-a601-11e4-9e4b-c9d11d8259ef.png)

It would be cool if the headings' font weight was proportional to the user-selected font weight – ie. just heavier than the UI font weight, but not always the same heavy weight bold.

[2015-01-27 14:31] braver commented on #13
Yes, I think you're right... that's a lot of work though... :wink:

[2015-01-28 19:01] braver commented on #12
fixed in 1.2.8

[2015-01-28 19:01] #12 closed

[2015-01-28 21:10] braver commented on #13
I believe https://github.com/braver/isotope-ui/commit/84b9b1a8e089246fd4c95771146d05f3f6c2b9fc solves this. I feel like I could express it in less lines of CSS, but it works. Basically, in @font-face I match "medium" to "thin" and "semibold" to "light", instead of simply using bold. When available of course. Looks better. I'll test it, think about refactoring the whole weights thing, and release s

[2015-01-28 21:10] #13 closed

[2015-01-28 22:16] malexandre opened #14 "Options not loaded at launch"
Everytime I launch Atom, I have to change theme and re-change back to Isotope to get back my background image, the decorated gutter, and even the Isotope way of displaying the non-commited file.
The settings are still available, but just not applied.

At launch:
![](http://i.imgur.com/OzieMlB.png)

After theme change:
![](http://i.imgur.com/8UmUwnF.png)

Atom version: 0.176.0
Isotope version: 1.2.

[2015-01-29 17:11] Nxt3 commented on #14
Same here. Same version of Isotope and Atom. (I'm on Linux)

I feel like this may not be an Isotope issue, and more of an Atom issue. On Atom v0.175.0, Isotope was working admirably.

[2015-01-29 18:40] smlombardi opened #15 "Code in editor is too tight to top of window"
Atom .176, IsotopeUI 1.2.8 default settings

![screen shot 2015-01-29 at 1 39 05 pm](https://cloud.githubusercontent.com/assets/835148/5963684/5642ad9c-a7bc-11e4-89a6-21d8e7054c93.png)

[2015-01-29 18:49] braver commented on #14
It's weird, I'm unable to reproduce this when testing on Ubuntu 1410, Atom 0.176.0, Isotope 1.2.8. There are some known issues that may be related, like https://github.com/atom/settings-view/issues/347... In a way I'm like "let's see what 0.177 brings"...? Not sure there's anything I can do at this point.

[2015-01-29 18:56] braver commented on #15
Yes, it kinda looks like that doesn't it. It should be the same in for instance One Dark UI though. Unlike some other themes there is no border above the editor area and it looks a bit tight. But there shouldn't be anything wrong per se (although I do agree it could look a bit better).

[2015-01-30 16:22] vapask opened #16 "Two-lines overlay looks weird"
Sometimes it is not possible to use go-to-definition overlay

![2015 01 30-19 18 47](https://cloud.githubusercontent.com/assets/797930/5978979/e04b1242-a8b4-11e4-916a-68e9781d27c4.png)

[2015-01-30 18:05] braver commented on #16
@vapask Could you clarify what about it is not possible? Does it not work? Is there a layout issue? What I'm seeing is that sometimes the definition name is too long and the line number will scroll out of view.

[2015-01-30 18:34] vapask commented on #16
It works, but it is useless.

for example ctrl+r in big file:
![2015 01 30-21 28 42](https://cloud.githubusercontent.com/assets/797930/5980981/003fa52e-a8c7-11e4-823b-83090fcbbf6d.png)

if I set `.list-group li` height to auto, `.first-line, .second-line` display to block, then it looks like this:
![2015 01 30-21 33 38](https://cloud.githubusercontent.com/assets/797930/5981041/adbb5a04-a8c7-11e4-9

[2015-01-30 18:37] braver commented on #16
Oh, right, that _is_ obvious then. This isn't covered in the style guide so I didn't catch that before. Thanks for reporting, I'll look into a fix.

[2015-01-30 21:45] braver commented on #16
Fixed in https://github.com/braver/isotope-ui/commit/31a33a746bd4b19bece9654a4ec1269678cd415e and will be released this weekend.

[2015-01-30 21:45] #16 closed

[2015-01-31 16:16] braver commented on #15
I looked into it, put there is no way to put padding on that without screwing with alignment and measurements. Not sure there's anything I can do.

[2015-01-31 18:01] smlombardi commented on #15
Not a big deal.

[2015-01-31 18:01] #15 closed

[2015-01-31 19:34] iNate71 opened #17 "Treeview items don't have color when in focus"
If you're in a project, open the treeview. Then press `ctrl+0`. This will put the treeview into focus to allow for other actions (such as adding a new file, `ctrl+a`). Just press `ctrl+0` multiple times; there is no indication that the treeview is in focus. This is a ui-themed element, and no matter what syntax theme I use, there is no color applied.

[2015-01-31 22:04] braver commented on #17
You're right, the focussed state is not visible. Thanks for reporting, fixed it!

[2015-01-31 22:04] #17 closed

[2015-02-02 02:36] Nxt3 commented on #17
Thank you!

[2015-02-02 08:33] vapask commented on #16
Awesome! Thank you.

[2015-02-03 01:07] mnquintana opened #18 "Add active pane indicator"
One of the nice things I noticed was added in One Dark / Light UI is that there's an indicator for which pane is active if you have multiple panes open:

![image](https://cloud.githubusercontent.com/assets/823545/6012512/f0d12296-ab16-11e4-9155-41bcb69f263b.png)
(ie. the bright blue bar on the right tab in this screenshot)

Right now there's no way of telling which tab is active other than by hunt

[2015-02-03 08:28] #18 closed

[2015-02-03 08:29] braver commented on #18
Thanks for reporting, hadn't noticed this but it's an easy fix.

[2015-02-04 19:24] smlombardi opened #19 "Find in project rows unreadable"
see attached
![screen shot 2015-02-04 at 2 13 21 pm](https://cloud.githubusercontent.com/assets/835148/6047740/80767f82-ac79-11e4-9f3f-5a0dc801b6f9.png)

[2015-02-04 19:25] smlombardi opened #20 "Find in project rows unreadable"
see attached
![2015-02-04_14-21-15](https://cloud.githubusercontent.com/assets/835148/6047758/a2feeb34-ac79-11e4-8672-b9d0e6592488.jpg)

[2015-02-04 21:40] braver commented on #20
duplicate?

[2015-02-04 21:40] #20 closed

[2015-02-04 21:40] #19 closed

[2015-02-08 13:45] JoshStrobl opened #21 "1.3.0 dropped thicker tabs?"
So after I installed the latest version I opted to read the Changelog. Apparently in 1.3 you landed thinner tabs, which I don't have a problem with, but the fact is you made it default AND dropped the option to disable the thinner tabs.

Seriously, what the fuck.  How can I get my thicker editor tabs back?

[2015-02-08 14:10] braver commented on #21
Watch your tone dude. I'm spending a lot of my spare time on this and giving it to you for free. If you don't like the thing I gave to you for no cost at all, you can just take your f-words and go take a hike.

Just because I am a nice dude, I'm going to give you even more things you don't deserve, for free. Perhaps you'll take a hint, perhaps not. But I'm giving you the benefit of the doubt becau

[2015-02-08 14:10] #21 closed

[2015-02-11 07:40] braver commented on #14
@malexandre @Nxt3 Guys, are you still getting this?

[2015-02-11 08:50] malexandre commented on #14
@braver I can't install the last Atom release (0.178.0) because it's broke on my Fedora. But it's working. There is one probleme though: The gutter is not styled by Isotope anymore, I don't know why.

[2015-02-11 09:12] vapask opened #22 "Wide theme variant"
Could you please return less compact theme variant and config option? I prefer previous default look and feel

[2015-02-11 09:16] braver commented on #22
@vapask In the recent update three things got more compact:
- tabs
- status bar
- tree-view

Would you be happy with just more spacious tabs and statusbar? Or would your prefer also a more spacious tree-view?

[2015-02-11 09:30] vapask commented on #22
I want all of this things to be more spacious, but if I should choose, here are things in order of priority: tabs, tree-view, status bar.

[2015-02-11 09:32] braver commented on #14
Yes, that's right. I had some feedback on the gutter style, reconsidered, and feel that that's really in the domain of the syntax theme and I shouldn't mess with it. I took out the option because I really needed to reel in the configurability to keep it maintainable.

I'm closing this for now. If anything crops up again let me know.

[2015-02-11 09:32] #14 closed

[2015-02-11 09:40] braver commented on #22
Ok, duly noted. Tree-view is super complicated already though, which was my main reason for taking the option out. There are variables in the stylesheets that make it easy to change the spacing, but right now it's impossible to manipulate them from the config. Core Atom team is working on that though, so more flexibility will surely come in the future.

So, anyway, I'll look into a short-term solu

[2015-02-11 20:26] braver opened #23 "close icon sometimes overlap tab title"
![screen shot 2015-02-11 at 20 56 44](https://cloud.githubusercontent.com/assets/2543659/6155568/994f5810-b234-11e4-8ad6-7fede0f18c59.png)

[2015-02-11 21:23] #23 closed

[2015-02-12 03:12] simurai opened #24 "Seamless tabs"
Just FYI: Tabs now have a `data-type` attribute. For example text editor tabs have `data-type="TextEditor"`.

This way only `<atom-text-editor>` tabs could use a Syntax theme's background color when active, but other panes, like settings could have a different active color to make them more seamless.

![screen shot 2015-02-12 at 12 11 09 pm](https://cloud.githubusercontent.com/assets/378023/616116

[2015-02-12 07:48] braver commented on #24
Oh wow, thanks, that is so awesome!

[2015-02-12 08:10] braver opened #25 "settings view"
- [x] too spacious
- [x] dark left columns

[2015-02-12 10:26] nicolaschenet opened #26 "Use the `atom-workspace` tag instead of the `workspace` class."
In index.less: Use the `atom-workspace` tag instead of the `workspace` class.

[2015-02-12 10:26] rogeriopvl opened #27 "Use the `atom-workspace` tag instead of the `workspace` class."
In index.less: Use the `atom-workspace` tag instead of the `workspace` class.

I'm getting this warning on Atom. Although I haven't found any occurrence of the `.workspace` class in the less files of the project.

Not sure why this is happening.

[2015-02-12 13:16] braver commented on #27
Thanks for reporting. There was one selector left for a tweak in web-browser. I resolved that last night: https://github.com/braver/isotope-ui/commit/cb72cf43531e987588415924c4a7c2a276e66e49

[2015-02-12 13:16] #27 closed

[2015-02-12 13:17] braver commented on #26
duplicate of #27

[2015-02-12 13:17] #26 closed

[2015-02-12 19:06] petr24 opened #28 "Logs showing in ftp file tree"
When using Isotope which I love as a theme. I use a package called Remote FTP and when I connect to a server I see logs for accessing the server. Image attached. I found this class in the dev tools ".tool-panel.tool-panel" and just set the color opacity to 0, and now I can't see them anymore.
![screen shot 2015-02-12 at 2 02 06 pm](https://cloud.githubusercontent.com/assets/3904464/6174905/488b8a0

[2015-02-14 17:12] #25 closed

[2015-02-14 18:48] braver commented on #28
There was a stray `position: relative` in isotope that screwed up the log display in that package. Fixed it, will roll out an update somewhere the coming days.

[2015-02-14 18:48] #28 closed

[2015-02-14 18:49] petr24 commented on #28
Cool man, keep up the good work! Doing great stuff.

On Sat, Feb 14, 2015 at 1:48 PM, Koen Lageveen notifications@github.com
wrote:

[2015-02-14 19:15] braver commented on #11
https://github.com/atom/settings-view/pull/275 Has been closed, currently doesn't look like there's going to be a way to change less variables through config. This means there really is no way for me to realise what you're proposing: I can't get a custom color into the stylesheet.

[2015-02-14 19:15] #11 closed

[2015-02-15 18:35] cbdavide opened #30 "Background image doesn't work"
Hi, I have the Background Image option selected, with the default image, but it doesn't set any background image.

![dd](https://cloud.githubusercontent.com/assets/5614801/6204387/3639423c-b517-11e4-92d2-7593e26e79cb.png)

[2015-02-15 19:22] braver commented on #30
Hi @cbdavide, thanks for reporting. I could be wrong, but your version of Atom seems to be behind a number of key releases. Could you check that? Also, I'd be interested to know if there is any information in the console.

[2015-02-15 21:51] cbdavide commented on #30
Ohh! men, I'm sorry, it was the version of Atom, everything works fine!
Sorry for the inconvenient.

[2015-02-15 21:52] cbdavide commented on #30
Ohh! men, I'm sorry, it was the version of Atom, everything works fine!
Sorry for the inconvenient.

[2015-02-15 21:52] #30 closed

[2015-02-16 20:57] braver commented on #22
@vapask FYI, theme config via core has been killed, so I'm not waiting for that. I'm currently testing bringing back a "spacious" option, will release tomorrow or the day after.

[2015-02-19 15:18] vapask commented on #22
thank you for your efforts

[2015-02-19 18:47] braver commented on #22
fixed in https://github.com/braver/isotope-ui/commit/1534b62d09c5af176955bc90d82e9de1be8b0666

[2015-02-19 18:47] #22 closed

[2015-02-19 18:47] braver commented on #24
implemented in https://github.com/braver/isotope-ui/commit/10d1de56c528a3f172096061de46b7f641f0085f

[2015-02-19 18:47] #24 closed

[2015-02-23 16:35] svsudhir opened #31 "Disable animation on tooltip"
Well, this is not an issue with the theme but request for some guidance and support.

With the isotope-ui in Atom editor when you hover on a file name in a Tab, the Tooltip containing full path name of the file appears after a brief delay with an animation motion from left top to right. I notice that this class is getting assigned "tooltip fade bottom in" to the div.

I wish to disable the animati

[2015-02-23 17:20] braver commented on #31
The animation is not part of my theme but just uses the default. If you just want to disable the animation, you can add this to your stylesheet:

[code]

The delay is actually not part of the css transition, but I think it's done somewhere in the core javascript. If you want to know how to take out the delay I would suggest posting a question [here](https://discuss.atom.io), someone should be able

[2015-02-23 17:20] #31 closed

[2015-02-25 11:10] braver opened #33 "markdown preview tab layout"
![screen shot 2015-02-25 at 12 09 46](https://cloud.githubusercontent.com/assets/2543659/6369500/3e812702-bce7-11e4-83c2-74835e344fa8.png)

[2015-02-26 18:16] braver commented on #33
fixed in https://github.com/braver/isotope-ui/commit/49eeab92fba363f2fc31ca66ecec03cd9a23e611

[2015-02-26 18:16] #33 closed

[2015-03-02 20:50] braver commented on #2
No big plans yet, just polish. Not feeling up to writing specs just for practice right now. Good enough.

[2015-03-02 20:50] #2 closed

[2015-03-10 15:20] mik01aj opened #34 "When using split view, only the focused tab is highlighted"
Imho the marked tab should be highlighted too.

![screenshot 2015-03-10 16 18 49](https://cloud.githubusercontent.com/assets/3027415/6577909/528031c6-c741-11e4-88cf-5f8c3d92acd9.png)

[2015-03-10 17:10] braver commented on #34
This is intentional, but I think you're right: it should also be obvious which tab belongs to the editor that isn't focussed. Will look into it!

[2015-03-10 17:44] #34 closed

[2015-03-17 17:18] feens opened #35 "Tabs overflow instead of shrinking to fit"
I noticed that recently Isotope seems to be ignoring the Tab Scrolling setting, and just always scrolls (which I personally dislike).

[2015-03-17 18:20] braver commented on #35
The "tab scrolling" option toggles flipping through open tabs by scrolling: scrolling up and down moves you left and right through open tabs.
This setting is respected by Isotope.

I think you mean that when there are too many tabs open, in Isotope you can scroll left and right to reach tabs that no longer fit the screen. I believe this is preferable over having the tabs become (at some point) onl

[2015-03-17 18:40] feens commented on #35
My bad on the wrong interpretation of that tabs setting.  However, personally, I hate having tabs disappear from my view, as then I don't notice them being open (and I find the act of having to scroll through the tab bar to be very clunky).  Is there any way to have this as a setting?  Otherwise it means I'll have to a) either hack/fork the theme, or b) switch to another theme.  Also, the default

[2015-03-17 21:27] braver commented on #35
Well you can always put something like

[code]

in your stylesheet. It's a world of trade-offs and there are a number of reasons this is (for now at least) what I ended up with for this theme. Perhaps I need to revisit this... I'll sleep on it ;)

[2015-03-19 21:49] braver commented on #35
The latest release shrinks tabs much further than it used to, and I changed some things around to solve some issues I had with tiny tabs. At some point they'll stop shrinking and start scrolling though, there are only so many pixels to go around.

[2015-03-19 21:49] #35 closed

[2015-03-25 12:16] braver opened #36 "todo"
- [x] button status indicator
- [x] stretch button gradient and use darkest for active state
- [x] increase saturation for blueish themes
- [x] find out what's breaking style guide
- [x] decrease progress bar height

[2015-03-25 16:55] braver opened #37 "stray pixel glitch on is-installing btn"
![screen shot 2015-03-25 at 17 54 19](https://cloud.githubusercontent.com/assets/2543659/6830119/1d0d0efa-d318-11e4-863c-481e2217754e.png)

[2015-03-25 17:25] #36 closed

[2015-03-25 17:30] braver commented on #37
For some reason the box-shadow spread value creates a render glitch. Without the spread it doesn't create the proper edge contrast. Perhaps it'll go away by itself? :cactus:

[2015-03-31 21:24] braver commented on #37
fixed it

[2015-03-31 21:24] #37 closed

[2015-04-01 15:21] braver opened #39 "minimap menu"
![screen shot 2015-04-01 at 17 20 49](https://cloud.githubusercontent.com/assets/2543659/6944324/87bbceb4-d893-11e4-87be-0f33d6973a21.png)

[2015-04-08 07:48] braver commented on #39
Sits above the tab bar in Isotope and One-\* themes > 0.6.0, must be something odd in the minimap.

[2015-04-08 07:57] braver commented on #39
minimap is working on it, calc issue at their end.

[2015-04-08 07:57] #39 closed

[2015-04-15 09:40] braver opened #40 "item views border bottom error"
mostly visible with light syntax themes

[2015-04-15 16:45] #40 closed

[2015-04-23 16:43] haggen opened #41 "What are the syntax themes of the first and second screenshots ?"
I'm sorry but I'm dying to know. :P

[2015-04-24 09:31] braver commented on #41
:+1: The first is [Duo-Tone-Dark](https://atom.io/themes/duotone-dark-syntax), the second is [Solarized Light](https://atom.io/themes/solarized-light-syntax).

[2015-04-24 09:31] #41 closed

[2015-05-05 13:50] smlombardi opened #42 "Popups for scope inspection are all collapsed."
When using Isotope UI, the popups to inspect the scope (option-command-p) are badly indented:

![screen shot 2015-05-05 at 9 44 51 am](https://cloud.githubusercontent.com/assets/835148/7473873/1c5dfe10-f30c-11e4-8c0c-89171d063224.png)

When using safe mode, or One Dark theme, they work fine:

![screen shot 2015-05-05 at 9 48 41 am](https://cloud.githubusercontent.com/assets/835148/7473891/2f70616e

[2015-05-05 14:06] #42 closed

[2015-05-08 09:00] jchannon opened #43 "Where do I define custom settings"
Sorry for the noob question but I'm new to Atom where do I configure and what are the values I set for the options in this theme?

[2015-05-08 09:09] braver commented on #43
They’re working on making this more obvious. You should be able to go to settings, themes, open the theme, and there should be a bunch of options there.

[2015-05-08 09:23] jchannon commented on #43
In the UI Theme dropdown I chose Isotope but I don't see any options

![screen shot 2015-05-08 at 10 22 49](https://cloud.githubusercontent.com/assets/105126/7533765/367a7a96-f56c-11e4-8b37-00b5db8df23c.png)

[2015-05-08 09:32] braver commented on #43
If you scroll down a bit you should see this:
![screen shot 2015-05-08 at 11 31 52](https://cloud.githubusercontent.com/assets/2543659/7533939/e49fc03c-f575-11e4-84b6-083b90d0b9df.png)

[2015-05-08 09:32] #43 closed

[2015-05-08 09:37] jchannon commented on #43
Thanks!

On 8 May 2015 at 10:32, Koen Lageveen notifications@github.com wrote:

[2015-05-28 16:49] RangerMauve commented on #41
Also, what is the third one? It looks like some sort of monokai variant.

[2015-05-28 18:26] braver commented on #41
I think it's this one: https://atom.io/themes/monokai

[2015-05-28 18:35] RangerMauve commented on #41
Thanks!

[2015-06-11 11:00] peteyy opened #45 "Example configurations are not available"
I'd like to try the 3rd example configuration and haven't found any ways to make it look like that, please make those example configurations available

[2015-06-13 10:21] braver commented on #45
The third example image uses the background image option with the default image provided by isotope, combined with the Monokai syntax theme.

[2015-06-13 10:21] #45 closed

[2015-06-13 15:12] peteyycz commented on #45
Thank you! :+1:

[2015-06-20 07:21] SolusSoftworks opened #46 "Custom file icons?"
Would there be any chance of you adding custom icons for each file type? That is the only thing missing from this theme for me. Even something as simple as a maximum three character representation such as: `<>` for HTML; `CSS`; `JS`; `PHP`; `{}` for JSON; `XML`; `C`; `C#`; `C++`; `PY` etc. would really help to identify files much quicker.

[2015-06-20 09:01] braver commented on #46
Look for the file icons package. That should be compatible, and it's much better to have it in a separate package.

[2015-06-20 09:01] #46 closed

[2015-06-20 09:45] JamesCoyle commented on #46
Ah didn't think of that. I've seen a few themes that came with icons so kinda assumed it was a theme specific thing I guess. Thanks.

[2015-06-20 10:42] braver commented on #46
Yeah, some opt to include it in the theme, but the file icons package has its own maintainers, so that's a much more powerful way to go.

[2015-06-24 02:51] TheConArtistHD opened #47 "It won't work for me."
I do the settings and everything but it won't work. I even go to the themes area and check UI and it's not there.

[2015-06-24 07:00] braver commented on #47
I'm sorry something seems to not work on your system, but I need more information. What are you trying to do, which steps do I need to take to reproduce this, what version of atom, isotope-ui and other packages are you running, on what kind of system?

[2015-06-24 22:55] TheConArtistHD commented on #47
Okay, so I fixed it. For some reason I had to restart my PC or something. I
then went in and reinstalled Isotope-ui. Looks good now. Thanks for the
concern you had.

On Wed, Jun 24, 2015 at 3:00 AM, Koen Lageveen notifications@github.com
wrote:

[2015-06-25 05:35] #47 closed

[2015-08-22 05:04] The-Duchess opened #49 "Failed to load the status-bar package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.7
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [isotope-ui](https://github.com/braver/isotope-ui) package, v2.5.1

### Stack Trace

Failed to load the status-bar package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-09 18:12] braver commented on #49
Can't reproduce, sorry. Stuff like this happens all the time and I think Atom is linking it to the wrong package.

[2015-10-09 18:12] #49 closed

[2015-11-12 10:27] richarddewit opened #50 "Font color overrides tree-view and statusbar colors"
Highlights like file added/modified in the tree-view, linter status and lines added/removed in statusbar are all plain white (#FAFAFA).

It's caused by [line 188 of config.less](https://github.com/braver/isotope-ui/blob/6162b9b6de2a1260b93dd6be4f31d83254a966f5/styles/config.less#L188) which overrides every other text color sadly.

[2015-11-13 18:55] braver commented on #50
Yes, that's kinda intentional to create a reliable contrast with background images. I'm open for suggestions though!

[2015-12-08 14:53] spencerlyon2 opened #51 "Need to define @text-color-modified"
I'm getting some errors from packages that expect this to be defined in ui-variables.less

[2015-12-08 14:56] sglyon commented on #51
See #52, sorry for the double issue

[2015-12-08 14:56] #51 closed

[2016-01-07 11:02] dre1080 opened #53 "What's the syntax theme used on the README"
What syntax theme is used in the `minimal.png` on the README??

[2016-01-08 12:10] braver commented on #53
That should be One Dark

[2016-01-08 12:10] #53 closed

[2016-01-15 14:18] Stormherz opened #54 "Missing directories state icons"
Hi!

First of all - thanks a lot for a great UI theme, that's practically one of the two themes for Atom which I can actually use and I'm really happy with it.
The only thing is bothering me - currently, directories state icons (opened, closed) are either non visible or not supported, maybe. As you can see in the attached screenshot - there is no distinction between opened directory icon and close

[2016-01-15 20:43] braver commented on #54
Hi, glad you like the theme! Nothing wrong with your setup, there is no indication in the icon and there hasn't ever been one unless my memory fails me. In fact the icon set used ([octicons](https://octicons.github.com)) doesn't have an "open folder" icon. The official themes use additional chevron icons but I never thought it necessary.

[2016-01-15 21:30] stormherz commented on #54
@braver ah, I see, thanks. Then I guess it's cleaner that way =)

[2016-08-01 11:55] #54 closed

[2017-01-12 14:44] ccournoyer-oktane opened #55 "Deprecated selector in `isotope-ui/index.less`"
In `isotope-ui/index.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

* `atom

[2017-01-12 22:57] GeorgeWL opened #56 "Deprecated selector in `isotope-ui\index.less`"
In `isotope-ui\index.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors:

* `atom

[2017-01-13 09:51] braver commented on #56
dupe of #55

[2017-01-13 09:51] #56 closed

[2017-02-12 15:26] #55 closed

[2017-02-15 11:26] alistairholt opened #59 "Editor font matching not applying to atom-text-editor.mini"
Just leaving this here for my own reference really. When 'Match Editor Font' is enabled, `atom-text-editor.mini` elements are not getting the editor font.

I believe we need to remove `font-family: @font-family;` from the `atom-text-editor.mini` CSS rule in `editor-mini.less`.

<img width="672" alt="screen shot 2017-02-15 at 11 12 18" src="https://cloud.githubusercontent.com/assets/5109/22972068/f

[2017-02-22 15:09] CodeAmend opened #60 "Fonts change size upon restart."
I can reproduce the bug like this:

1) Select Atom Material UI.
2) Select Isotop UI

we notice the fonts are a similar size to Atom Material.

3) exit Atom
4) start Atom back up: fonts are really small.

Of course I can edit the style sheet, but this should not happen.

Also, menu selector drop downs are VERY small. Can I change just these?

[2017-02-22 22:11] alistairholt commented on #60
I tried to reproduce this using the steps you provided but I was unable to. Can you show us your `styles.less` file?

[2017-02-22 23:52] CodeAmend commented on #60
There is nothing, I havn't started hacking yet.

On Wed, Feb 22, 2017 at 5:11 PM, Alistair Holt <notifications@github.com>
wrote:

[2017-02-24 11:59] alistairholt commented on #60
Can you provide us with your OS platform and version, Atom version and isotope-ui version?

[2017-02-24 15:38] CodeAmend commented on #60
Interesting that I cannot reproduce anymore. I have updated since then. Thank you for your time, if I get the error again, I will note those versions and respond.

[2017-02-24 16:31] #60 closed

[2017-03-10 07:25] xeron commented on #55
@braver hi, any plans on new release with this fix?

[2017-03-10 09:02] braver commented on #55
Hm, guess I overlooked that. 2.8.0 is out now! @alistairholt also feel free to `apm publish` any time you want.

[2017-05-22 16:43] ddaza opened #61 "Tree view Horizontal scrolling not working."
The tree horizontal scroll suddenly broke in the latest version of atom v1.17.0.  Other themes work normally but this theme cuts the content and wont let me scroll.

[2017-05-22 17:12] braver commented on #61
Yeah, this theme is basically deprecated by now. So many new features and massive changes like the docs api, I can't keep up with it. Feel welcome to submit a PR, but if it's up to me I don't think this is going anywhere.

[2017-05-23 15:02] ddaza commented on #61
Oh man! That's so sad to hear 😢  this is the only theme that doesn't hurt my eyes.
I'll try to give a crack at it and PR something.

[2017-05-23 15:04] alistairholt commented on #61
I'm still interested in maintaining this theme so I'll take a look at this when I get a chance.

[2017-05-23 15:08] braver commented on #61
Oh sure, definitely! Much appreciated too. Just another illustration of how up to date I am on this 😞 I'll leave you guys to it and if you need anything let me know.

[2017-05-23 23:58] alistairholt commented on #61
@ddaza you should find this is now fixed in the latest version (2.8.3).

[2017-05-23 23:58] #61 closed

[2017-05-24 14:08] ddaza commented on #61
nice! 😄

[2017-05-29 20:08] simonvanderveldt opened #63 "Tabs now stretch to full width, no spot to double click to open a new tab"
First of all, thanks for this theme! Very much like it!

I ran into an unexpected issue, which seems to be caused by [this commit](https://github.com/braver/isotope-ui/commit/904a8717cf6e35ef6a2dc34a6a36ab9a1fa9dd51) which made the tabs full width.

Personally I'm not really a fan of it, but more importantly it makes it impossible to create a new tab by doubleclicking on an empty spot in the tab b

[2017-05-29 20:44] alistairholt commented on #63
@simonvanderveldt I've added this an option in 2.8.5 if you want to update. Let me know if you run into any issues with it.

[2017-05-30 21:27] simonvanderveldt commented on #63
@alistairholt Thanks for the quick fix. It works :)
It does look a bit different then before though, I have no screenshot of what it looked like before but the tabs seem a lot more compact/compressed, as in there's a lot less whitespace surrounding the text on the tab. Is that correct?

[2017-05-30 21:41] alistairholt commented on #63
@simonvanderveldt I'll do a comparison with an earlier version. It's definitely possible that it's a little different now to how it was.

[2017-05-30 21:56] alistairholt commented on #63
@simonvanderveldt you're right about there being a difference.

Previously:

![screen shot 2017-05-30 at 22 46 14](https://cloud.githubusercontent.com/assets/5109/26606684/c3a84928-458a-11e7-8a72-5677e8b8d98e.png)

Now:

![screen shot 2017-05-30 at 22 47 06](https://cloud.githubusercontent.com/assets/5109/26606701/d17170f2-458a-11e7-99e9-22ad3e7d3148.png)

The new sizing is following the behaviour

[2017-05-30 22:01] alistairholt commented on #63
It seems that Atom One light UI theme now has another mode – Maximum. I'll probably implement all three to match.

[2017-05-30 22:17] simonvanderveldt commented on #63
Ohw, that's awesome! Thanks a lot for doing all this, very much appreciated! :+1:

[2017-08-29 19:47] ecdeveloper opened #64 "Search doesn't show matching lines of code"
When searching for matches in files, it shows the list of files but doesn't show the actual matching lines. If I disable Isotope UI theme - all works fine.

Thoughts?

<img width="516" alt="screen shot 2017-08-29 at 12 18 52 pm" src="https://user-images.githubusercontent.com/836928/29840792-0b80e664-8cb8-11e7-92a6-f52be1de0b78.png">

[2017-09-06 04:28] ecdeveloper commented on #64
Anyone?

[2017-09-06 09:36] alistairholt commented on #64
![screen shot 2017-09-06 at 10 34 29](https://user-images.githubusercontent.com/5109/30104934-fbf0cbc8-92ee-11e7-9bd0-84144aa88a1d.png)

@ecdeveloper I'm not having any issues with this myself. Can you give us the following information:

* Which version of Isotope are you using?
* What are your settings for Isotope?

[2017-09-20 02:57] ecdeveloper commented on #64
@alistairholt isotope-ui 2.8.0

settings:
<img width="962" alt="screen shot 2017-09-19 at 7 56 04 pm" src="https://user-images.githubusercontent.com/836928/30624878-a67d860a-9d74-11e7-80f1-074495b34104.png">

[2017-09-29 20:18] ecdeveloper commented on #64
@alistairholt any update here yet?

[2017-11-11 12:21] yelled1 opened #65 "Could find in pkgs so apm installed, but..."
I could NOT find this in Packages install directory w/ searching isotope-ui. So, I did
apm install isotope-ui
Installing isotope-ui to /home/usrNm/.atom/packages
Still can't locate this in Packages. Pls enlighten, as I really can't see my menu w/o bending over.

Installed Packages0/102
[isotope]

Community Packages0/22

Core Packages0/80

Development Packages0/0

Git Packages0/0

[2020-05-15 12:29] Owyn opened #66 "not installing"
Stuck this way:
![изображение](https://user-images.githubusercontent.com/1309656/82050421-ca4aac00-96c0-11ea-94b6-00e680936b9f.png)